.intro-para{
    width: 488px;
    height: 168px;
    left: 128px;
    top: 218px;
    
    font-family: 'SVN-Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    /* or 175% */
    
    letter-spacing: -0.02em;
    
    /* Black100 */
    
    color: #333333;
    }
    